
body {
  background-color: #def2f7;
}

a {
  font-family: "VT323";
  text-decoration: none;
  color: #75a3a3;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.imagecolumn{
  margin: auto;
  width: 80%;
  padding: 10px;
}


.p1{
  display: flex;
}
.p2{
  display: flex;
}
.p3{
  display: flex;
}
.p4{
  display: flex;
}
.p5{
  display: flex;
}
.p6{
  display: flex;
}
.p7{
  display: flex;
}
.p8{
  display: flex;
}
.p9{
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}





.title {
  font-family: "VT323";
  font-size: 5em;
  width:30%;
  margin: auto;
}

.navigation {
  text-align: right;
  font-size: 1em;
  font-weight: lighter;
  position: sticky;
  margin-top: 10px;
  right:10px;
}
