
body {
  background-color: #d1e0e0;
}

.title a {
  left:0px;
  margin-top: 0px;
  color: #e6eaf2;
  font-family: "Arial", sans-serif;
  font-size: 7em;
  font-weight: bold;
  text-decoration: none;
}

.container * {
  width: auto;
  height: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position:static;
}


.container img {
  width: 50%;
  height: 50%;
}

.footer a {
  position: absolute;
  right: 0px;
  color: #e6eaf2;
  font-family: "Arial", sans-serif;
  font-size: 7em;
  font-weight: bold;
  text-decoration: none;
}

.pagenumber a {
  color: #75a3a3;
  position: absolute;
  left: 10px;
  font-family: "Arial", sans-serif;
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
