
body {
  background-color: #d1e0e0;
}

p {
  margin-left: -15px;
  margin-top: -70px;
  color: #75a3a3;
  font-family: "Arial", sans-serif;
  font-size: 7.5em;
  font-weight: bold;
}

.container * {
  width: auto;
  height: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position:static;
}


.container img {
  width: 50%;
  height: 50%;
}

.pagenumber a {
  color: #75a3a3;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position:static;
  font-family: "Arial", sans-serif;
  font-size: 2em;
  font-weight: bold;
}
